{name, "erldocs"}.
{authors, ["Dale Harvey <dale@arandomurl.com>"]}.
{description, "Library to generate documentation from erlang source"}.
{homepage, "http://erldocs.com"}.
{license, "DWTFYW"}.
{url, {git, "https://github.com/daleharvey/erldocs.git", {branch, "master"}}}.
{install_command, "mkdir -p $AGNER_INSTALL_PREFIX/bin && cp ./erldocs $AGNER_INSTALL_PREFIX/bin/"}.
{applications, [erldocs]}.
{bin_files, ["bin/erldocs"]}.
{build_command, "make"}.